<ul
  class="icon-with-text icon-with-text"
>
  <li class="col-lg-6 icon-with-text__item">
    <span class="corevalue-corevalue-box mt-lg-4">
      <img
        src=" {{ block.settings.corevaluelogo5 | img_url: '500x500'}}"
        alt="{{  block.settings.corevaluelogo5.alt }}"
      >
      <h3 class="corevalue-text">{{ block.settings.corevaluetext5 }}</h3>
    </span>
  </li>
  <li class="col-lg-6 icon-with-text__item">
    <span class="corevalue-corevalue-box mt-lg-4">
      <img
        src=" {{ block.settings.corevaluelogo6 | img_url: '500x500'}}"
        alt="{{  block.settings.corevaluelogo6.alt }}"
      >
      <h3 class="corevalue-text">{{ block.settings.corevaluetext6 }}</h3>
    </span>
  </li>
</ul>